body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
  background-color: rgb(135,135,135);
}

.image-link {
  max-width: 300px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
